* {
    margin: 0;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: #171819;
}

body::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 20px;
    border: none;
}

/* end scrollbar */

/* bg */
.bg {
    background: url(../img/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 769px;
}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 42px;
}

.bg_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 320px;
}

.bg_text h1 {
    font-family: 'BebasNeueBold';
    font-size: 6vh;
    line-height: 70px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    text-align: center;
}

.bg_text p {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.bg_span {
    display: flex;
    justify-content: center;
    padding-top: 220px;
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    transition: all 3s ease;
    animation: test 4s infinite;
    animation-direction: alternate-reverse;
    animation-iteration-count: calc(100*2000);
}

@keyframes test {
    from {
        transform: translateY(0px);

    }

    to {
        transform: translateY(10px);
    }

}

@media screen and (max-width:850px) {
    .bg_text h1{
        font-size: 4vh;
    }  
}

@media screen and (max-width:602px) {
    .bg_text{
        padding-top: 250px;
    }
}

@media screen and (max-width:343px) {
    .bg_text{
        padding-top: 200px;
    }
}
/* end bg */

/* navbar */

.nav {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 25px 0 25px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.7s ease;
}

.navbar {
    display: flex;
    flex-direction: row;
    transition: 0.7s ease;
}

.navbar li {
    list-style-type: none;
    padding-left: 48px;
    transition: 0.7s ease;
}


.navbar a {
    text-decoration: none;
    font-family: 'OpenSans';
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.09091px;
    color: #48555B;
    transition: 0.7s ease;

}

.navbar a:hover {
    color: #00A4E5;
}


.icon {
    display: none;

}

.icon i {
    position: relative;
    font-size: 20px;
    color: #00A4E5;
    transition: 0.7s ease;
}

.responsive{
    transition: 0.7s ease;
}
@media screen and (max-width:900px) {
    .nav div:not(:first-child) {
        display: none;
    }

    .icon {
        display: block;
    }

    .icon i {
        position: absolute;
        bottom: 66px;
        right: 0;
        margin-right: 20px;
    }

    .nav {
        justify-content: space-between;
    }
    .nav_img{
        margin-left: 20px;
        margin-bottom: 10px;
    }
}


@media screen and (max-width:900px) {
    .nav.responsive div {
        display: flex;
    }

    .navbar {
        flex-direction: column;
    }
    .navbar li{
        padding: 12px 0 0 20px;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* end navabr */

/* our store */

.store {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 120px;
}

.store_img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.store_txt {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-left: 14px;
}

.store_txt p {
    font-family: 'OpenSans';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
}

.store_text {
    padding-right: 30px;
}

.sub_store {
    padding-left: 50px;
}

.story_head {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 57px;
}

.story_head span {
    border-bottom: 2px solid #00A4E5;
    height: 2px;
    width: 50px;
    margin-top: 10px;
}

.story_head p {
    font-family: 'OpenSans';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
}

.store_text h4 {
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    padding-bottom: 40px;
}

.store_text p {
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.blue_txt {
    color: rgba(22, 172, 232, 1);
}

@media screen and (max-width:945px) {
    .store{
        flex-direction: column;
        padding-top: 40px;
    }
    .store_text{
        padding: 0 0 15px 0;
    }
    .sub_store:first-child{
        padding-left: 0;
    }
}

@media screen and (max-width:570px) {
    .store_img, .sub_store{
        margin-top: 10px;
    }
    .store_img{
        flex-direction: column;
        justify-content: center;
    }
    .sub_store{
        padding-left: 0;
    }
}

@media screen and (max-width:340px) {
    .store_text p>br{
        display: none;
    }
    .store_text h4{
        padding-bottom: 20px;
    }
}
/* end our store */

/* capabilit */
.capabilit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 92px;
}

.capab_text_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 125px;
}

.capab_text_2 p {
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
}

.capab_text h3 {
    font-family: 'OpenSans';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    color: #48555B;
}

.capab_text p {
    border-bottom: 2px solid #00A4E5;
    height: 2px;
    width: 50px;
    margin-top: 10px;
}

.btn_1 {
    height: 40px;
    width: 150px;
    background: #00A4E5;
    margin-left: 30px;
    border: none;
    outline: none;
    transition: 0.8s ease;
    color: #fff;
}

.btn_1:hover {
    box-shadow: 0px 0px 4px 5px #00a4e5be;
}

.card_capabilit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 115px;
}

.card_content {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;
    padding: 23px;
    margin-right: 50px;
}

.card_content:last-child {
    margin-right: 0;
}

.card_content h2 {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
    padding-top: 13px;
    padding-bottom: 25px;
}

.card_content p {
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

@media screen and (max-width:930px) {
    .capabilit {
        flex-direction: column;
    }
    
    .capab_text{
        padding-bottom: 20px;
    }
    .capab_text_2{
        padding-left: 0;
    }

    .card_capabilit{
        flex-direction: column;
        align-items: center;
    }
    .card_content{
        margin: 15px 0 0 0;
        width: 270px;
    }
}

@media screen and (max-width:600px) {
    .capab_text_2{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .btn_1{
        margin: 10px 0 0 0;
    }
}
/* end capabilit */

/* newsletter */
.news {
    background: url(../img/bg_2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.news_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}

.news_content h1 {
    font-family: 'OpenSans';
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 2.15px;
    color: #48555B;
    text-align: center;
    padding-bottom: 35px;
}

.btn_2 {
    background: #00A4E5;
    outline: none;
    border: none;
    color: #fff;
    transition: 0.8s ease;
    width: 150px;
    height: 40px;
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;

}

.btn_2:hover {
    box-shadow: 0px 0px 4px 5px #00a4e5be;
}


.newsletter_sign {
    background: rgba(23, 24, 25, 1);
    height: 100px;
}

.sign_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.sign_content h1 {
    font-family: 'OpenSans';
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding-right: 70px;
}

.btn_3 {
    background: #00A4E5;
    width: 150px;
    height: 40px;
    color: #fff;
    border: none;
    outline: none;
}


input {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #979797;
    width: 250px;
    height: 40px;
    padding-left: 16px;
}

@media screen and (max-width:660px) {
    .sign_content{
        flex-direction: column;
        text-align: center;
    }
    .newsletter_sign{
        height: auto;
    }
    .sign_content h1{
        padding: 0 0 20px 0;
    }
    .input{
        padding-bottom: 20px;
    }
}
@media screen and (max-width:410px) {
    .btn_3{
        width: 60px;
}
}

/* newsletter */

/* footer */

.footer {
    background: #141A20;
    height: 240px;
}

.footer_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 45px;
}

.text p {
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.text h2 {
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding-bottom: 10px;
    font-weight: 100;
}

.text_2 p {
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    padding-top: 15px;
}

.text_2 h2 {
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding-bottom: 20px;
    font-weight: 100;
}

.text_3 p {
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.text_3 h2 {
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding-bottom: 15px;
    font-weight: 100;
}

.sub_company {
    padding-right: 71px;
}

.sub_links {
    padding-right: 34px;
}

.sub_faq {
    padding-right: 38px;
    padding-bottom: 30px;
}

.sub_blog {
    padding-right: 58px;
    padding-bottom: 30px;
}

.sub_contact {
    padding-right: 45px;
}

.sub_social {
    display: flex;
    flex-direction: row;
    color: #fff;
}

.sub_social i {
    margin-right: 25px;
}

.sub_social i:last-child {
    margin-right: 0;
}

.end_footer {
    background: #171819;
    height: 60px;
    display: flex;
    justify-content: center;
}

.end_footer p {
    font-family: 'OpenSans';
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    padding-top: 22px;
    color: #FFFFFF;
}

@media screen and (max-width:866px) {
    .footer{
        height: auto;
    }
    .text_3{
        padding: 20px 0 20px 0;
    }
}

@media screen and (max-width:590px) {
    .footer_content{
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 20px 20px;
    }
    .sub_links{
        padding: 20px 0 20px 0;
    }
    
}
/* end footer */